/*
 * Poder Judicial del Estado de Coahuila de Zaragoza
 * Dirección de Informática
 *
 * Hoja de Estilos CSS 2020-04
 */

/* Global */
body {
    font-family: 'Lato', sans-serif; font-weight: 300;
    background-color: #ffffff;
    padding-top: 80px; /* Altura de Navegacion */
}

/* Encabezados */
h1 { font-family: 'Saira Condensed', sans-serif; font-weight: 400; font-size: 2.8em; margin-bottom: 0.4em; }
h2 { font-family: 'Saira Condensed', sans-serif; font-weight: 400; font-size: 2.4em; margin-bottom: 0.4em; }
h3 { font-family: 'Saira Condensed', sans-serif; font-weight: 400; font-size: 2.0em; margin-bottom: 0.3em; }
h4 { font-family: 'Saira Condensed', sans-serif; font-weight: 400; font-size: 1.4em; margin-bottom: 0.3em; }
h5 { font-family: 'Saira Condensed', sans-serif; font-weight: 400; font-size: 1.2em; margin-bottom: 0.2em; }
h6 { font-family: 'Saira Condensed', sans-serif; font-weight: 400; font-size: 1.0em; margin-bottom: 0.2em; }

/* Párrafos */
p          { padding: 1.2em; }
blockquote { font-style: italic; padding: 1.2em; }

/* Estructuras */
main    { min-height: 800px; }
article { min-height: 800px; }

/* Navegación */
#navegacion {
    font-family: 'Saira', sans-serif; font-weight: 700;
    background-color: #083755;
    border-bottom-style: solid; border-bottom-width: 16px; border-bottom-color: #859497;
}

/* Inicial Cabecera: banner principal */
#cabecera { min-height: 400px; background-color: #ffffff; }

/* Inicial Destacados: artículos y tópicos nuevos */
#destacados { min-height: 400px; background-color: #ffffff; }

/* Inicial Novedades: twitter timeline y comunicados a dos columnas */
#novedades { min-height: 400px; background-color: #e3e1e4; }

/* Inicial Recomendaciones: vínculos de interés de la Institución y a externos */
#recomendaciones { min-height: 400px; background-color: #ffffff; }

/* Inicial Sitios de Interés */
#sitios_interes { min-height: 200px; background-color: #f7f3f2; }

/* Footer */
footer {
    min-height: 200px;
    font-family: 'Saira', sans-serif; font-weight: 400;
    color: #ffffff;
    background-color: #4f5e61;
}
footer h4 { font-weight: 700; }

/* Responsivo */
@media only screen and (max-width: 990px) {
    body { font-size: 0.9em; }
    h1 { font-size: 2.6em; margin-bottom: 0.3em; }
    h2 { font-size: 2.2em; margin-bottom: 0.3em; }
    h3 { font-size: 2.0em; margin-bottom: 0.2em; }
    h4 { font-size: 1.6em; margin-bottom: 0.2em; }
    h5 { font-size: 1.4em; margin-bottom: 0.1em; }
    h6 { font-size: 1.2em; margin-bottom: 0.1em; }
    .display-4 { font-size: 2.6em; }
}
@media only screen and (max-width: 580px) {
    body { font-size: 0.8em; }
    h1 { font-size: 2.2em; margin-bottom: 0.3em; }
    h2 { font-size: 2.0em; margin-bottom: 0.3em; }
    h3 { font-size: 1.8em; margin-bottom: 0.2em; }
    h4 { font-size: 1.6em; margin-bottom: 0.2em; }
    h5 { font-size: 1.4em; margin-bottom: 0.1em; }
    h6 { font-size: 1.2em; margin-bottom: 0.1em; }
    .display-4 { font-size: 2.2em; }
}
@media only screen and (max-width: 300px) {
    body { font-size: 0.7em; }
    h1 { font-size: 1.8em; margin-bottom: 0.2em; }
    h2 { font-size: 1.6em; margin-bottom: 0.2em; }
    h3 { font-size: 1.4em; margin-bottom: 0.1em; }
    h4 { font-size: 1.2em; margin-bottom: 0.1em; }
    h5 { font-size: 1.1em; margin-bottom: 0.0em; }
    h6 { font-size: 1.0em; margin-bottom: 0.0em; }
    .display-4 { font-size: 1.8em; }
}
