/*
 * Poder Judicial del Estado de Coahuila de Zaragoza
 * Dirección de Informática
 *
 * Hoja de Estilos CSS 2020-04
 */

/* Global */
body {
    font-family: 'Lato', sans-serif; font-weight: 300; line-height: 1.3em;
    background-color: #ffffff;
    padding-top: 80px; /* Altura de navegación */
}

/* Encabezados */
h1 { font-family: 'Saira Condensed', sans-serif; font-weight: 700; font-size: 2.8em; margin-bottom: 0.4em; color: #000000; }
h2 { font-family: 'Saira Condensed', sans-serif; font-weight: 700; font-size: 2.4em; margin-bottom: 0.4em; color: #31322c; }
h3 { font-family: 'Saira Condensed', sans-serif; font-weight: 700; font-size: 2.0em; margin-bottom: 0.3em; color: #004360; }
h4 { font-family: 'Saira', sans-serif; font-weight: 400; font-size: 1.4em; margin-bottom: 0.3em; color: #d0a473; }
h5 { font-family: 'Saira', sans-serif; font-weight: 400; font-size: 1.2em; margin-bottom: 0.2em; color: #004360; }
h6 { font-family: 'Saira', sans-serif; font-weight: 400; font-size: 1.0em; margin-bottom: 0.2em; color: #004360; }

/* Párrafos */
p          { font-size: 1.0em; padding: 0.4em 0; }
blockquote { font-size: 1.2em; font-style: italic; padding: 1.2em; }

/* Enlaces */
a         { color: #083755; text-decoration: none; }
a:focus,
a:hover   { color: #00568d; text-decoration: underline; }
a:active,
a:visited { color: #083755; text-decoration: none; }

/* Estructuras */
header  { min-height: 100px; }
main    { min-height: 800px; }
article { min-height: 800px; }
footer  { min-height: 200px; }

/* Título */
header {
    font-family: 'Lato', sans-serif; font-weight: 300;
    background-color: #e3e1e4;
}

/* Navegación */
#navegacion {
    font-family: 'Saira', sans-serif; font-weight: 700;
    background-color: #083755;
    border-bottom-style: solid; border-bottom-width: 16px; border-bottom-color: #859497;
}

/* Inicial Cabecera: banner principal */
#cabecera { min-height: 400px; background-color: #ffffff; }

/* Inicial Destacados: artículos y tópicos nuevos */
#destacados { min-height: 400px; background-color: #ffffff; }

/* Inicial Novedades: twitter timeline y comunicados a dos columnas */
#novedades { min-height: 400px; background-color: #e3e1e4; }

/* Inicial Recomendaciones: vínculos de interés de la Institución y a externos */
#recomendaciones { min-height: 400px; background-color: #ffffff; }

/* Inicial Sitios de Interés */
#sitios_interes { min-height: 200px; background-color: #f7f3f2; }

/* Footer */
footer {
    font-family: 'Saira', sans-serif; font-weight: 400;
    color: #ffffff;
    background-color: #4f5e61;
}
footer h3        { color: #859497; }
footer h4        { color: #859497; }
footer h5        { color: #859497; }
footer ul li     { color: #777777; padding: 0.2em 0; }
footer a         { color: #dddddd; }
footer a:focus,
footer a:hover   { color: #ffffff; }
footer a:active,
footer a:visited { color: #dddddd; }

/* Responsivo */
@media only screen and (max-width: 990px) {
    body       { font-size: 0.9em; }
    h1         { font-size: 2.6em; margin-bottom: 0.3em; }
    h2         { font-size: 2.2em; margin-bottom: 0.3em; }
    h3         { font-size: 2.0em; margin-bottom: 0.2em; }
    h4         { font-size: 1.6em; margin-bottom: 0.2em; }
    h5         { font-size: 1.4em; margin-bottom: 0.1em; }
    h6         { font-size: 1.2em; margin-bottom: 0.1em; }
    p          { font-size: 1.0em; padding: 0.3em 0; }
    blockquote { font-size: 1.0em; padding: 0.8em; }
}
@media only screen and (max-width: 580px) {
    body       { font-size: 0.8em; }
    h1         { font-size: 2.2em; margin-bottom: 0.3em; }
    h2         { font-size: 2.0em; margin-bottom: 0.3em; }
    h3         { font-size: 1.8em; margin-bottom: 0.2em; }
    h4         { font-size: 1.6em; margin-bottom: 0.2em; }
    h5         { font-size: 1.4em; margin-bottom: 0.1em; }
    h6         { font-size: 1.2em; margin-bottom: 0.1em; }
    p          { font-size: 0.9em; padding: 0.2em 0; }
    blockquote { font-size: 1.0em; padding: 0.8em; }
}
@media only screen and (max-width: 300px) {
    body       { font-size: 0.7em; }
    h1         { font-size: 1.8em; margin-bottom: 0.2em; }
    h2         { font-size: 1.6em; margin-bottom: 0.2em; }
    h3         { font-size: 1.4em; margin-bottom: 0.1em; }
    h4         { font-size: 1.2em; margin-bottom: 0.1em; }
    h5         { font-size: 1.1em; margin-bottom: 0.0em; }
    h6         { font-size: 1.0em; margin-bottom: 0.0em; }
    p          { font-size: 0.8em; padding: 0.1em 0; }
    blockquote { font-size: 0.9em; padding: 0.4em; }
}
