    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <!-- Mapa del sitio -->
        <div class="container mb-5">
            <h3 class="text-center">Poder Judicial</h3>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <h5>Presidencia</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/bienvenida/">Mensaje de Bienvenida</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/atribuciones/">Atribuciones</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/mensajes-ponencias/">Mensajes y Ponencias</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/organigrama/">Organigrama</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/directorio/">Directorio</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/derechos-humanos/">Unidad de Derechos Humanos e Igualdad de Género</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/secretaria-tecnica-transparencia/">Secretaría Técnica y Transparencia</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/auditoria-interna/">Auditoría Interna</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/archivo-general/">Archivo General</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos Jurisdiccionales</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/pleno-tribunal-superior-justicia/">Pleno del Tribunal Superior de Justicia</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/secretaria-general-acuerdos-pleno/">Secretaría General de Acuerdos del Pleno</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/tribunal-constitucional/">Tribunal Constitucional</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/sala-colegiada-civil-familiar/">Sala Colegiada Civil y Familiar</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/sala-colegiada-penal/">Sala Colegiada Penal</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/sala-regional-torreon/">Sala Regional de Torreón</a></li>
                        <li>Tribunales Especializados</li>
                        <li>Tribunales Distritales</li>
                        <li>Juzgados</li>
                        <li>Central de Actuarios</li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos No Jurisdiccionales</h5>
                    <ul class="list-unstyled text-small">
                        <li>Centro de Medios Alternos de Solución de Controversias</li>
                        <li>Centro de Evaluación Psicosocial</li>
                        <li>Instituto de Especialización Judicial</li>
                        <li>Instituto Estatal de Defensoría Pública</li>
                        <li>Oficialías de Partes</li>
                        <li>Visitaduría Jurídica General</li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos Administrativos</h5>
                    <ul class="list-unstyled text-small">
                        <li>Oficialía Mayor</li>
                        <li>Unidad Jurídica</li>
                        <li>Dirección de Innovación</li>
                        <li>Dirección de Informática</li>
                    </ul>
                </div>
            </div>
            <h3 class="text-center">Consejo de la Judicatura</h3>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <h5>Consejo</h5>
                    <ul class="list-unstyled text-small">
                        <li>Consejeros</li>
                        <li>Secretaría de Acuerdos del Consejo</li>
                        <li>Directorio</li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Consulta</h5>
                    <ul class="list-unstyled text-small">
                        <li>Atribuciones del Consejo</li>
                        <li>Proceso de Selección de Jueces</li>
                        <li>Marco Jurídico</li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Labor Disciplinaria</h5>
                    <ul class="list-unstyled text-small">
                        <li>Sanciones a Servidores Públicos</li>
                        <li>Presentación de Quejas</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <h5>Comunicación Social</h5>
                    <ul class="list-unstyled text-small">
                        <li>Boletines</li>
                        <li>Sala de Prensa</li>
                    </ul>
                </div>
                <div class="col-md-4 mb-2">
                    <h5>Trámites y Servicios</h5>
                    <ul class="list-unstyled text-small">
                        <li>Registro Estatal de Deudores Alimentarios Morosos</li>
                        <li>Instituto Estatal de Defensoría Pública</li>
                        <li>Medios Alternos de Solución de Conflictos</li>
                        <li>Servicios Centro de Evaluación Psicosocial</li>
                        <li>Coloquios, Cursos, Seminarios, Talleres y otros Eventos Académicos</li>
                    </ul>
                </div>
                <div class="col-md-4 mb-2">
                    <h5>Transparencia</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/transparencia/">Transparencia</a></li>
                        <li>Transparencia TCA</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Logotipo PJECZ -->
        <div class="container mb-5">
            <div class="text-center">
                <img src="{{ SITEURL }}/theme/images/poder-judicial-410x180-blanco.png" alt="PJECZ">
                <p>
                    Blvd. Francisco Coss #945. Zona Centro. Saltillo, Coahuila de Zaragoza, México.<br>
                    <a href="mailto:poderjudicialcoahuila@pjec.gob.mx">poderjudicialcoahuila@pjec.gob.mx</a><br>
                    Teléfono 844 194 5100<br>
                    &copy; 2020 Todos los derechos reservados. Términos y condiciones.
                </p>
            </div>
        </div>
    </footer>

