    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-3">
                    <h4>Teléfono</h4>
                    844 194 5100
                </div>
                <div class="col-md-3">
                    <h4>Dirección</h4>
                    Blvd. Francisco Coss #945.<br>
                    Zona Centro. Saltillo<br>
                    Coahuila, México.
                </div>
                <div class="col-md-3">
                    <h4>Contacto</h4>
                    <a href="mailto:poderjudicialcoahuila@pjec.gob.mx">poderjudicialcoahuila@pjec.gob.mx</a>
                </div>
                <div class="col-md-3">
                    <h4>Redes Sociales</h4>
                    <a href="https://twitter.com/PJCoah" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/pjcoah/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://vimeo.com/user103229504" target="_blank"><i class="fa fa-vimeo-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCJ7eJJ-uE-J3yoreEDqLvHg" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-9">
                    &copy; 2020 Poder Judicial del Estado de Coahuila de Zaragoza.
                    Todos los derechos reservados.
                </div>
                <div class="col-md-3">
                    Términos y condiciones.
                </div>
            </div>
        </div>
    </footer>

