    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <!-- Mapa del sitio -->
        <div class="container mb-5">
            <h3 class="text-center">Poder Judicial</h3>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <h5>Presidencia</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/bienvenida/">Mensaje de Bienvenida</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/derechos-humanos/">Unidad de Derechos Humanos e Igualdad de Género</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/secretaria-tecnica-transparencia/">Secretaría Técnica y Transparencia</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/auditoria-interna/">Auditoría Interna</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/presidencia/archivo-general/">Archivo General</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos Jurisdiccionales</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/pleno-tribunal-superior-justicia/">Pleno del Tribunal Superior de Justicia</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/secretaria-general-acuerdos-pleno/">Secretaría General de Acuerdos del Pleno</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/tribunal-constitucional/">Tribunal Constitucional</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/sala-colegiada-civil-familiar/">Sala Colegiada Civil y Familiar</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/sala-colegiada-penal/">Sala Colegiada Penal</a></li>
                        <li><a href="{{ SITEURL }}/poder-judicial/organos-jurisdiccionales/sala-regional-torreon/">Sala Regional de Torreón</a></li>
                        <li><a href="#">Tribunales Especializados</a></li>
                        <li><a href="#">Tribunales Distritales</a></li>
                        <li><a href="#">Juzgados</a></li>
                        <li><a href="#">Central de Actuarios</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos No Jurisdiccionales</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Centro de Medios Alternos de Solución de Controversias</a></li>
                        <li><a href="#">Centro de Evaluación Psicosocial</a></li>
                        <li><a href="#">Instituto de Especialización Judicial</a></li>
                        <li><a href="#">Instituto Estatal de Defensoría Pública</a></li>
                        <li><a href="#">Oficialías de Partes</a></li>
                        <li><a href="#">Visitaduría Jurídica General</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos Administrativos</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Oficialía Mayor</a></li>
                        <li><a href="#">Unidad Jurídica</a></li>
                        <li><a href="#">Dirección de Innovación</a></li>
                        <li><a href="#">Dirección de Informática</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <h5>Comunicados</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Sala de Prensa</a></li>
                        <li><a href="#">Boletines</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-2">
                    <h5>Trámites y Servicios</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="https://vimeo.com/user103229504">Transmisión de Sesiones</a></li>
                        <li><a href="https://www.pjec.gob.mx/intranet/sentencias/acuerdos.php">Lista de Acuerdos</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-2">
                    <h5>Consultas</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/transparencia/">Transparencia</a></li>
                        <li>Transparencia TCA</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Logotipo PJECZ -->
        <div class="container mb-5">
            <div class="text-center">
                <img src="{{ SITEURL }}/theme/images/poder-judicial-410x180-blanco.png" alt="PJECZ">
                <p>
                    Blvd. Francisco Coss #945. Zona Centro. Saltillo, Coahuila de Zaragoza, México.<br>
                    <a href="mailto:poderjudicialcoahuila@pjec.gob.mx">poderjudicialcoahuila@pjec.gob.mx</a><br>
                    Teléfono 844 194 5100<br>
                    &copy; 2020 Todos los derechos reservados. Términos y condiciones.
                </p>
            </div>
        </div>
    </footer>

