{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="keywords" content="{{ SITEKEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
{% endblock %}

{% block content %}
    <!-- Contenido -->
	<main>
{% if output_file == 'index.html' %}
{%     include 'inicial-cabecera.html' %}
{%     include 'inicial-destacados.html' %}
        <!-- Inicial Novedades -->
		<section id="novedades">
			<div class="container pt-4 pb-2">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-center">Twitter</h3>
                        <img class="img-fluid" data-src="holder.js/100px600">
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center">Noticias y eventos</h3>
{% for article in articles_page.object_list %}
        				<h4><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
                        {{ article.summary }}
{% endfor %}
                    </div>
                </div>
			</div>
		</section>
{%     include 'inicial-recomendaciones.html' %}
{%     include 'inicial-sitios-interes.html' %}
{% else %}
        <h3 class="text-center">Comunicados</h3>
{% for article in articles_page.object_list %}
        <h4><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
        {{ article.summary }}
{% endfor %}
{% endif %}
	</main>
{% endblock %}
