        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container">
                <div class="row h-100">
                    <div class="col-md-6">
                        <img class="img-fluid m-2" src="{{ SITEURL }}/theme/images/transmisiones-sesiones.jpg" alt="Magistrados del PJECZ">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center pt-4">Transmisiones de las Sesiones</h2>
                        <a href="{{ SITEURL }}/sesiones/sala-penal/2020/vigesima-segunda-sesion-ordinaria-quinta-digital/">
                            <h3 class="text-center mb-0">Sala Penal</h3>
                            <p class="text-center pt-0">Vigésima Segunda Sesión Ordinaria Quinta Digital, 14 de julio</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-civil-y-familiar/2020/vigesima-segunda-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Sala Civil y Familiar</h3>
                            <p class="text-center pt-0">Vigésima Segunda Sesión Ordinaria, 16 de julio</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/pleno-del-tribunal-superior-de-justicia/2020/vigesima-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Pleno del TSJ</h3>
                            <p class="text-center pt-0">Vigésima Sesión Ordinaria, 17 de julio</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

