        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container">
                <div class="row h-100">
                    <div class="col-md-6">
                        <img class="img-fluid m-2" src="{{ SITEURL }}/theme/images/transmisiones-sesiones.jpg" alt="Magistrados del PJECZ">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center pt-4">Transmisiones de las Sesiones</h2>
                        <h3 class="text-center"><a href="sesiones/pleno-del-tribunal-superior-de-justicia/2020/decima-tercera-sesion-ordinaria/">DÉCIMA TERCERA SESIÓN ORDINARIA DEL PLENO DEL TRIBUNAL SUPERIOR DE JUSTICIA</a></h3>
                    </div>
                </div>
            </div>
        </section>

