        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container">
                <div class="row h-100">
                    <dir class="col-lg-12">
                        <h2 class="text-center pt-4">Transmisiones de las Sesiones</h2>
                        <h3 class="text-center"><a href="sesiones/sala-civil-y-familiar/2020/decima-cuarta-sesion-ordinaria/">DÉCIMA CUARTA SESIÓN ORDINARIA DE LA SALA CIVIL Y FAMILIAR DEL TRIBUNAL SUPERIOR DE JUSTICIA, 21 de mayo 2020</a></h3>
                    </dir>
                </div>
            </div>
        </section>

