    <!-- Navegacion -->
    <nav id="navegacion" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/images/pjecz-48x48-blanco.png" alt="PJECZ"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarConocenos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Conócenos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarConocenos">
                            <a class="dropdown-item" href="{{ SITEURL }}/conocenos/quienes-somos/bienvenida/">Bienvenida</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/">Tribunal Superior de Justicia</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/">Consejo de la Judicatura</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/observatorio-judicial/">Observatorio Judicial</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/derechos-humanos/">U. de DD.HH. y Equidad de Género</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarConsultas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarConsultas">
                            <a class="dropdown-item" href="{{ SITEURL }}/buzon-electronico/">Buzón Electrónico</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/citas/">Citas</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/edictos/">Edictos en Línea</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/listas-de-acuerdos/">Listas de Acuerdos</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/sentencias/">Versión Pública de Sentencias</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/">Más...</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarInformacion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Información
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarInformacion">
                            <a class="dropdown-item" href="{{ SITEURL }}/category/acuerdos-del-consejo.html">Acuerdos del Consejo</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/category/comunicados.html">Comunicados</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/sesiones/">Sesiones</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/tramites-y-servicios/">Trámites y Servicios</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ SITEURL }}/transparencia/">Transparencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ SITEURL }}/transparencia-tca/">Transparencia TCA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="Twitter" href="https://twitter.com/PJCoah" target="_blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="Facebook" href="https://www.facebook.com/pjcoah/" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a id="cambiador-tema" class="nav-link" href="#"><i class="fa fa-adjust fa-lg" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

