        <!-- Inicial Destacados -->
        <section id="destacados">
            <div class="container pt-4 pb-2">
                <h3 class="text-center">Temas relevantes de actualidad</h3>
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://expedientevirtual.pjecz.gob.mx/Login.php">
                            <div class="card destacados-card mb-2">
                                <img class="card-img-top" src="/theme/images/destacados-expediente-virtual.jpg">
                                <div class="card-body">
                                    <h4 class="card-title mb-0">Expediente Virtual 2.0</h4>
                                    <p>Los y los abogados litigantes que se han registrado en el Buzón Electrónico pueden usar su misma cuenta para que con previa autorización en el Juzgado Civil, Mercantil, Familiar y Penal en el que tengan negocio judicial hagan consultas vía Internet en el Expediente Virtual versión 2.0, ingresa aquí. </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://citas.poderjudicialcoahuila.gob.mx/"> 
                            <div class="card destacados-card mb-2">
                                <img class="card-img-top" src="/theme/images/destacados-sistema-de-citas.jpg">
                                <div class="card-body">
                                    <h4 class="card-title mb-0">Sitema de Citas</h4>
                                    <p>El Poder Judicial del Estado de Coahuila de Zaragoza pone al servicio de la ciudadanía el Sistema de Citas que te permitirá agendar tu visita a nuestros órganos jurisdiccionales mediante una sencilla herramienta en línea.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://buzon.pjecz.gob.mx/">
                            <div class="card destacados-card mb-2">
                                <img class="card-img-top" src="/theme/images/destacados-buzon-electronico.jpg">
                                <div class="card-body">
                                    <h4 class="card-title mb-0">Buzón Electrónico</h4>
                                    <p>El Poder Judicial del Estado de Coahuila de Zaragoza pone al servicio de la ciudadanía el Buzón Electrónico, que permite el envío de demandas iniciales y promociones mediante una plataforma en línea.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

