        <!-- Inicial Recomendaciones -->
        <section id="recomendaciones">
            <div class="container pt-4 pb-2">
                <h3 class="text-center">Recomendaciones</h3>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-estatal-de-defensoria-publica/">
                            <img class="rounded-circle" src="/theme/images/tema-defensa-publica.png">
                             <h4>Defensoria Pública</h4>
                        </a>    
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/cemasc/">
                            <img class=rounded-circle" src="/theme/images/tema-mediacion.png">
                            <h4>Mediación</h4>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-de-especializacion-judicial/">
                             <img class="rounded-circle" src="/theme/images/tema-capacitacion-judicial.png">
                             <h4>Capacitación Judicial</h4>
                        </a>     
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/derechos-humanos-e-igualdad-de-genero/">
                            <img class="rounded-circle" src="/theme/images/tema-derechos-humanos-e-igualdad-de-genero.png">
                            <h4>Derechos Humanos</h4>
                        </a>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/centro-de-evaluacion-psicosocial/">
                            <img class="rounded-circle" src="/theme/images/tema-psicologia-y-trabajo-social.png">
                         <h4>Psicología y Trabajo Social</h4>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" src="/theme/images/tema-comisiones.png">
                        <h4>Comisiones</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/juzgados-por-materia/">
                             <img class="rounded-circle" src="/theme/images/tema-juzgados-por-materia.png">
                             <h4>Juzgados por Materia</h4>
                    </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/juzgados-por-distrito/">
                             <img class="rounded-circle" src="/theme/images/tema-juzgados-por-distrito.png">
                             <h4>Juzgados por Distrito</h4>
                        </a>    
                    </div>
                </div>
            </div>
        </section>

