Title: {{ title }}
Slug: {{ slug }}
Summary: {{ summary }}
Tags: {{ tags }}
URL: {{ url }}
Save_As: {{ save_as }}
Date: {{ date }}
Modified: {{ modified }}


{{ introduccion }}

{% for articulo in articulos %}
* [{{ articulo.titulo }}]({{ articulo.pagina }}/)
{% endfor %}

{{ final }}
